<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        
        <a class="navbar-brand" href="{% url 'AppMatiasInicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'AppMatiasFamiliar' %}">Familiar 1</a>
        <a class="navbar-brand" href="{% url 'AppMatiasFamiliar2' %}">Familiar 2</a>
        <a class="navbar-brand" href="{% url 'AppMatiasFamiliar3' %}">Familiar 3</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>